 /* body {
  background-color: black;
}

img {
  position: absolute;
  inset: 0;
  width: 500px;
  height: 500px;
  transition:  1s;
  opacity: 0;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.radio-buttons{
  display: flex;
  place-content: center;
}
li {
  width: 20px;
  height: 20px;
  background-color: white;
  margin: 5px;
} */


header {
  background-color: red;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
}

main {
  background-color: blue;
  width: 100%;
  height: 2000px;
}
